<fieldset>
    <legend>{{ localize "ME5E.ACTIVITY.FIELDS.visibility.label" }}</legend>
    {{> "me5e.fieldlist" visibilityFields }}
    <div class="form-group">
        <label>{{ localize "ME5E.ACTIVITY.FIELDS.visibility.level.label" }}</label>
        <div class="form-fields range-fields">
            {{ formInput fields.visibility.fields.level.fields.min value=source.visibility.level.min
                         placeholder="0" ariaLabel=(localize "ME5E.LevelLimit.Min")
                         input=@root.inputs.createNumberInput }}
            <me5e-icon src="systems/me5e/icons/svg/range-connector.svg" class="sep"></me5e-icon>
            {{ formInput fields.visibility.fields.level.fields.max value=source.visibility.level.max
                         placeholder="∞" ariaLabel=(localize "ME5E.LevelLimit.Max")
                         input=@root.inputs.createNumberInput }}
        </div>
        <p class="hint">{{ localize "ME5E.ACTIVITY.FIELDS.visibility.level.hint" }}</p>
    </div>
    {{#if (or (not activity.isSpell) activity.isRider)}}
    {{ formField fields.visibility.fields.identifier value=source.visibility.identifier rootId=partId }}
    {{/if}}
</fieldset>
