<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/me5e/templates/activity/parts/activity-identity.hbs" }}
    {{> "systems/me5e/templates/activity/parts/attack-identity.hbs" }}
    <fieldset>
        <legend>{{ localize "ME5E.ACTIVITY.SECTIONS.Behavior" }}</legend>
        {{> "me5e.fieldlist" behaviorFields }}
    </fieldset>
    {{> "systems/me5e/templates/activity/parts/activity-visibility.hbs" }}
</section>
