<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/me5e/templates/activity/parts/activity-identity.hbs" }}
    {{#if behaviorFields.length}}
    <fieldset>
        <legend>{{ localize "ME5E.ACTIVITY.SECTIONS.Behavior" }}</legend>
        {{> "me5e.fieldlist" behaviorFields }}
    </fieldset>
    {{/if}}
    {{> "systems/me5e/templates/activity/parts/activity-visibility.hbs" }}
</section>
