<fieldset>
    <legend>{{ localize "ME5E.ItemConsumableDetails" }}</legend>

    {{!-- Consumable Type --}}
    {{ formField fields.type.fields.value value=source.type.value choices=CONFIG.consumableTypes labelAttr="label"
                 label="ME5E.ItemConsumableType" localize=true rootId=partId }}

    {{!-- Consumable Sub-Type --}}
    {{#if itemSubtypes}}
    {{ formField fields.type.fields.subtype value=source.type.subtype choices=itemSubtypes blank="" localize=true
                 label=(localize "ME5E.ItemConsumableSubtype" category=(lookup (lookup CONFIG.consumableTypes source.type.value) "label")) rootId=partId }}
    {{/if}}

    {{!-- Consumable Properties --}}
    {{ formField fields.properties options=properties.options localize=true input=inputs.createMultiCheckboxInput
                 stacked=true classes="checkbox-grid checkbox-grid-3"
                 label=(ifThen (eq source.type.value "ammo") "ME5E.ItemAmmoProperties" "ME5E.ItemConsumableProperties") }}

    {{!-- Magical Properties --}}
    {{#if properties.object.mgc}}
    <div class="form-group split-group">
        <label>{{ localize "ME5E.ITEM.Property.Magical" }}</label>
        <div class="form-fields">

            {{!-- Attunement --}}
            <div class="form-group label-top">
                <label>{{ localize "ME5E.Attunement" }}</label>
                <div class="form-fields">

                    {{!-- Attuned --}}
                    {{#if source.attunement}}
                    {{ formInput fields.attuned value=source.attuned input=inputs.createCheckboxInput
                                 ariaLabel=(localize "ME5E.Attuned") dataset=(me5e-object tooltip="ME5E.Attuned") }}
                    {{/if}}

                    {{!-- Attunement --}}
                    {{ formInput fields.attunement value=source.attunement choices=CONFIG.attunementTypes
                                 blank="ME5E.AttunementNone" localize=true }}
                </div>
            </div>

            {{!-- Magical Bonus --}}
            {{#if (and properties.object.mgc (eq source.type.value "ammo"))}}
            {{ formField fields.magicalBonus value=source.magicalBonus step=1 placeholder="0" label="ME5E.Bonus"
                         localize=true classes="label-top" rootId=partId }}
            {{/if}}
        </div>
    </div>
    {{/if}}
</fieldset>

{{#if (eq source.type.value "ammo")}}
<fieldset>
    <legend>{{ localize "ME5E.CONSUMABLE.FIELDS.damage.label" }}</legend>

    {{!-- Replace Damage --}}
    {{ formField fields.damage.fields.replace value=source.damage.replace input=inputs.createCheckboxInput
                 rootId=partId }}

    {{> "me5e.field-damage" fields=fields.damage.fields.base.fields source=source.damage.base
        types=damageTypes prefix="system.damage.base." }}

</fieldset>
{{/if}}
